.homepage-main-container {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-top: 50px;
  margin-left: 10px;
}

.homepage-content {
  /* width: 80%; */
  justify-content: center;
  align-items: center;
}

.advertising-component {
  max-width: 1100px !important;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin: 0px 70px;
}

.right {
  border: 2px solid grey;
  /* max-width: 280px; */
  height: 450px;
  border-radius: 12px;
  background-color: lightblue;
  margin-bottom: 20px;
}
