.login-container {
  height: 400px;
}

.login-submit {
  background-color: whitesmoke;
  color: black;
  border-color: black;
  background-color: whitesmoke;
  margin-right: 25px;
  cursor: pointer;
  /* margin-top: 80px; */
}

.login-submit:hover {
  border: none;
}

.forgot-password {
  margin-top: 10px;
}

.login-form {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
