.register-form {
  height: 300px;
  display: flex;
  flex-direction: column;
}

h1 {
  color: whitesmoke;
}

.register-submit {
  background-color: whitesmoke;
  color: black;
  border-color: black;
  background-color: whitesmoke;
  cursor: pointer;
}

.register-submit:hover {
  border: none;
}
.register-actions {
  margin-top: 20px !important;
}
