.userpage-main-container {
  display: grid;
  grid-template-columns: 20% 60% 20%;
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.textUser {
    display: flex;
    text-align: left;
    font-size: 18px;
    margin-top: 20px;
    color: 	#808080;
}

.addButton {
  display: flex;
  color: #f59a22;
  cursor: pointer;
}